*{
    margin : 0px;
    padding: 0px;
    
}
header{
    width: 100%;
    height: 75px;
    font-size: 40px;
    background-color: black;
    color: whitesmoke;
    float: right;
    text-align: center;
    margin: 0px;
}
footer{
    width: 100%;
    height: 75px;
    font-size: 20px;
    background-color: black;
    color: whitesmoke;
    float: right;
    text-align: center;
    margin: 0px;
}
nav {
    background-color: slategray;
    width: 100%;
    height: 75px;
    float: left;
    margin:0px;
}
nav li{
   display: inline-block;
   list-style-type: none;
}
nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.sub-menu {
    display: none;
}
nav li a:hover {
    background-color: rgb(213, 240, 80);
}
.menu li:nth-child(2):hover #Dropdown_1, .menu li:nth-child(3):hover #Dropdown_2{
    display: block;
}
.main-image {
   width: 100%;
   height: 100vh; 
   margin: 5px 5px;
   border: 2px solid steelblue;
   background-image: url("Animation/ani1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   animation-name: Images;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   
}
@keyframes Images {
    0%   {
        background-image:url("Animation/ani1.jpg");
         }
    20%  {
        background-image:url("Animation/ani2.jpg");
         }
    40%  {
        background-image:url("Animation/ani3.jpg");
         }
    80% {
        background-image:url("Animation/ani4.jpg");
         }
    100%{
        background-image:url("Animation/ani5.jpg");
        }

  }
  
img {
    width : 280px;
    height: 350px;
}
section {
    width: 100%;
}
article{
    display: inline-block;
    padding: 25px;
    background-color: skyblue;
}
button{
    border: 2px solid blue;
    background-color: aquamarine;
    color: black;
    width: 300px;
    
}
button:hover{
    background-color: black;
    color: white;
    border-color: yellow;

}
article:hover{
    width: 300px;
    height: 370px;
}
